# Db2接続情報
DB2_DATABASE=TESTDB
DB2_HOSTNAME=localhost
DB2_PORT=50000
DB2_UID=db2inst1
DB2_PWD=password
DB2_PROTOCOL=TCPIP
DB2_SECURITY=

# Db2テーブル情報
DB2_SCHEMA=MYSCHEMA
DB2_TABLE_TODOS=TODOS

# コネクションプール設定
DB2_MAX_CONNECTIONS=5
DB2_MIN_CONNECTIONS=1

# サーバー設定
PORT=8000
